$secondary-color: white;
$main-color: #5ea3d0;

html, body {
    height: 100%;
  }
  
#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px red solid;
}

header {
  height: 40px;
  flex-grow: 0;
  color: $secondary-color;
  background: $main-color;
  justify-content: center;
  align-items: center;
  display: flex;
}

footer {
  flex-grow: 0;
  color: $secondary-color;
  background: $main-color;
}

.central {
  flex-grow: 1;
  display: flex;
  // align-items: center;
  justify-content: center;
}

.container {
  background: var(--secondary-color);
}

#messages {
  // background: green;
  border: 1px red dotted;
  width: 100%;
  overflow-y: scroll;
  margin: 0;
  padding: 0 0 0 6px;
}