// @import "@material/react-button/index";

// p {
//     font-weight: bold;
//     color: red;
//   }

html, body {
    height: 100%;
  }
  
#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px red solid;
  margin: 0;
  padding: 0;
}

header {
  // display: flex;
  flex-grow: 0;
  // flex-direction: row !important;
}

footer {
  flex-grow: 0;
}

// .hero {
// //   // display: -ms-flexbox;
  // display: flex;
  // height: 100%;
  // flex-direction: column;
// //   // -ms-flex-flow: row nowrap;
//   flex-flow: row nowrap;
// //   // -ms-flex-align: center;
//   align-items: center;
// //   // -ms-flex-pack: center;
//   justify-content: center;
// //   // min-height: 360px;
//   padding: 24px;
  // background-color: #f2f2f2; 
// }
  
// .foo-button {
//   @include mdc-button-ink-color(teal);
//   @include mdc-states(teal);
// }

.customDiv {
  display: flex;
  // height: 100%;
  flex-grow: 1;
// //   // justify-content: center;
// //   // align-items: center;
// //   // border: 1px red solid;
// //   // color: red;
}